html {
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 10px;
}
a {
    text-decoration: none;
}
header {
    position: sticky;
    top: 0;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo-input-div {
    width: 80%;
    display: flex;
    align-items: center;
    padding-right: 50px;
    margin-left: 20px;
}
.logo-div {
    display: flex;
}
.logo {
    width: 90px;
}
.input-div {
    width: 100%;
}
.voice-icon {
    position: absolute;
    left: 57%;
    top: 30%;
}
.search-icon {
    position: absolute;
    left: 60%;
    top: 30%;
}
.input-icon {
    color: #1a73e8;
    padding: 10px;
}

#search-box {
    color: rgba(0,0,0,.87);
    margin-left: 50px;
    width: 700px;
    height: 45px;
    padding: 0 95px 0 15px;
    border-style: none;
    box-shadow: 0px 1px 4px 0px rgb(177, 177, 177);
    border-radius: 40px;
    font-size: 1.6em;
}
#search-box:hover {
    box-shadow: 0px 1px 10px 0px rgb(177, 177, 177);

}
#search-box:focus {
    outline: none;
}

.links-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 15vw;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #3c4043;
    margin-right: 10px;
    border-radius: 20px;
}
.links:hover {
    background: #eee;
}
.person-icon {
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
/*----Navbar begins here----*/
nav {
    display: flex;
    align-items: center;
    margin-left: 180px;
    max-width: 50vw;
    font-size: 1.5em;
}
nav a {
    display: flex;
    color: rgb(110, 110, 110);
    margin-right: 15px;
    padding: 8px 0;
    border-bottom-style: solid;
    border-color: transparent;
}
.icon {
    font-size: 17px;
    margin-right: 5px;
}
nav a.section:focus {
    color: #1a73e8;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-color: #1a73e8;
}
nav a.tools-section {
    padding: 3px 10px;
    margin-left: 160px;
    border: 1px solid transparent;
}
nav a.tools-section:hover {
    background: rgba(243, 242, 242, 0.7);
    border: 1px solid;
    border-radius: 2px;
    border-color: rgba(110, 110, 110, 0.2);
    color: rgba(0,0,0,.87);
}
hr {
    opacity: 0.3;
}
main {
    max-width: 630px;
    margin-left: 180px;
}
.results-section {
    font-size: 1.5em;
}
.amount-results {
    color: #70757a;
    margin: 10px 0 20px 0;
    font-size: .95em;
}
.result {
    margin-bottom: 30px;
}
.result-link:hover .page-title {
    text-decoration: underline solid #1a0dab 2px; 
}
.page-link {
    width: 390px;
    color: #202124;
}
.special-link {
    width: 230px;
}
.another-special {
    width: 410px;
}
.expand {
    float: right;
    font-size: 17px;
}
.page-title {
    font-size: 1.2em;
    color: #1a0dab;
    margin: 10px 0;
}
.greater-than-sign {
    font-size: .7em;
}
.gray-text {
    color: #4d5156;
}

.suggestions-grid {
    font-size: 1.6em;
    padding: 40px 0px;
    display: grid;
    grid-template-columns: 310px 310px;
    grid-gap: 15px;
}
.suggestion {
    display: flex;
    align-content: center;
    background-color: #f1f3f4;
    color: black;
    height: 45px;
    border-radius: 40px;
}
.suggestion:hover {
    text-decoration: underline;
}
.suggestion .icon-text-div {
    display: flex;
    align-items: center;
}
.suggestion .icon-div .suggestion-icon {
    padding: 0 20px;
    font-size: 1.3em;
}
.suggestion .text-div p {
    width: 210px; 
}

footer {
    width: 100%;
    padding: 15px 0;
    font-size: 1.4em;
    background: #f1f3f4;
}
footer .footer-content {
    max-width: 660px;
    margin-left: 180px;
    padding: 10px 0;
}

footer .location-div {
    color: #70757a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .location-div .dash {
    margin: 0 5px;
}
footer .location-div .exact-location {
    display: flex;
    align-items: center;
    color: #3c4043;
}
footer .location-div .location-link a {
    color: #70757a;
}
footer .location-div .exact-location .circle {
    background: #70757a;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 100%;
}
footer .location-div .line-break {
    background: #70757a;
    margin: 0 10px;
    width: 1px;
    height: 25px;
}
footer .footer-links-div a {
    color: #70757a;
    margin-right: 20px;
}
footer .location-div .location-link a:hover ,footer a:hover {
    color: #3c4043;
}