html {
    box-sizing: border-box;
  }
*, *::before, *::after {
    box-sizing: inherit;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 10px;
}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.logo-input-div {
    width: 80%;
    display: flex;
    align-items: center;
    padding-right: 50px;
    margin-left: 20px;
}
.logo-div {
    display: flex;
}
.logo {
    width: 90px;
}
.input-div {
    width: 100%;
}
.voice-icon {
    position: absolute;
    left: 55%;
    top: 4.5%;
}
.search-icon {
    position: absolute;
    left: 58%;
    top: 4.5%;
}
.input-icon {
    color: rgb(37, 106, 255);
    padding: 10px;
}

#search-box {
    margin-left: 50px;
    width: 50vw;
    height: 50px;
    padding: 0 95px 0 15px;
    border-style: none;
    box-shadow: 0px 1px 4px 0px rgb(80, 80, 80);
    border-radius: 40px;
    font-size: 1.6em;
}
#search-box:hover {
    box-shadow: 0px 2px 8px 1px rgb(80, 80, 80);

}
#search-box:focus {
    outline: none;
}

.links-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 15vw;
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    color: #3c4043;
    margin-right: 20px;
    border-radius: 20px;
}
.icons:hover {
    background: #eee;
}
.person-icon {
    border-radius: 20px;
    width: 30px;
    height: 30px;
}
/*----Navbar begins here----*/
nav {
    margin: 0 auto;
    max-width: 60vw;
    font-size: 1.5em;
}
nav a {
    color: rgb(110, 110, 110);
    margin-right: 20px;
}
